

.service-image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.service-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .service-image-container {
        height: 250px;
    }
}

.rating-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 5px;
}

.rating-input input {
    display: none;
}

.rating-input label {
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.2s;
    position: relative;
    width: 2rem;
    height: 2rem;
}

.rating-input label i {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.2s;
}

.rating-input label .fas {
    color: #fbbf24;
    opacity: 0;
}

.rating-input label .far {
    color: #ddd;
    opacity: 1;
}


.rating-input label:hover .fas,
.rating-input label:hover~label .fas {
    opacity: 1;
}

.rating-input label:hover .far,
.rating-input label:hover~label .far {
    opacity: 0;
}


.rating-input input:checked~label .fas {
    opacity: 1;
}

.rating-input input:checked~label .far {
    opacity: 0;
}